# Xcode
.DS_Store
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcworkspace
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
injected_container/

# Environment variables
*.env

# IDE
.idea/

# Debug logs
*.log

# VS Code
.vscode
buildServer.json
